{{ form_start(form,{'attr':{
    'id': form_id|default('usuario_new')
}}) }}
<div class="modal-body" id="modal-body">

    <div class="row">
        <div class="col-md-3">
            <div class="m-card-profile">
                <div class="m-card-profile__title m--hide">
                    Your Profile
                </div>
                <div class="m-card-profile__pic">
                    <div class="m-card-profile__pic-wrapper">
                        {%if usuario.ficheroFoto!=null %}
                            {% set rutaFoto=  asset('archivos/'~usuario.ficheroFoto.ruta) %}
                            {% else %}
                                {% set rutaFoto= asset('app/media/img/users/user4.jpg','template') %}
                        {% endif %}

                        <img src="{{ rutaFoto }}" alt="No se pudo cargar la imagen" id="foto_perfil" data-image="{{ rutaFoto }}" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Cabiar foto de perfil"/>
                        {{ form_label(form.ficheroFoto,' ') }}
                        {{ form_widget(form.ficheroFoto) }}
                        {{ form_errors(form.ficheroFoto) }}
                    </div>
                </div>
                <div class="m-card-profile__details">
                    <a id="reload_picture" class="m-card-profile__email m-link text-uppercase text-info m--font-bold m--hidden-desktop"><i class="flaticon-refresh"></i>Reiniciar</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row pull-right">
    <span class="m-switch m-switch--icon m-switch--success pull-right">
				<label>
					{{form_widget(form.activo)}}
                    <span></span>
			</label>
    </span>
            </div>
            <div class="clearfix"></div>


            <div class="row">
                <div class="col-md-6">{{ form_row(form.nombre) }}</div>
                {% if form.jefe is defined %}
                    <div class="col-md-6">
                        {{ form_row(form.jefe) }}
                    </div>
                {% endif %}
            </div>

            <div class="row m--margin-top-20">
                <div class="col-md-6 pull-left">{{ form_row(form.area) }}</div>
                <div class="col-md-6">{{ form_row(form.cargo,{'attr':{
                        'class':'form-control input-medium'
                    }}) }}</div>
            </div>

            <div class="row m--margin-top-20">
                <div class="col-md-6">{{ form_row(form.usuario) }}</div>
            </div>
            <div class="row m--margin-top-20">
                <div class="col-md-6">{{ form_row(form.correo) }}</div>
                <div class="col-md-6">{{ form_row(form.idrol) }}</div>
            </div>

            <div class="row m--margin-top-20">
                <div class="col-md-6">{{ form_row(form.password.first) }}</div>
                <div class="col-md-6">{{ form_row(form.password.second) }}</div>
            </div>
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-metal btn-sm" data-dismiss="modal">Cancelar</a>
    <button class="btn btn-primary btn-sm mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <span class="ladda-label">{{ action |default('Guardar') }}</span>
        <span class="ladda-spinner"></span>
    </button>
</div>
{{ form_end(form) }}
