<table class="table table-striped table-hover dataTable" id="usuario_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Área</th>
        <th>Cargo</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for usuario in usuarios %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.area }}</td>
            <td>{{ usuario.cargo }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-sm" href="{{ path('usuario_show',{'id':usuario.id}) }}">
                            <i class="flaticon-eye"></i></a>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-sm btn-info editar_usuario" data-href="{{ path('usuario_edit', { 'id': usuario.id }) }}"><i class="flaticon-edit-1"></i></a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-danger btn-sm  eliminar_usuario" data-href="{{ path('usuario_delete', { 'id': usuario.id }) }}" data-csrf="{{ csrf_token('delete' ~ usuario.id) }}"><i class="flaticon-delete-1"></i></a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Área</th>
        <th>Cargo</th>
        <th></th>
    </tr>
    </tfoot>
</table>
