{% extends 'layout/userprofile.html.twig' %}
{% block content %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Subordinados
                    </h3>
                </div>
            </div>

            <div class="m-portlet__head-tools">
                <ul class="m-footer__nav m-nav m-nav--inline m--margin-top-10">
                    <li class="m-nav__item">
                        <div>
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                 m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-plus m--hide"></i>
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">Acciones rápidas</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a id="usuario_tablerefrescar" data-href="{{ path('usuario_index',{'id':user_id}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-refresh"></i>
                                                            <span class="m-nav__link-text">Refrescar</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a id="nuevo_usuario" data-href="{{ path('usuario_new') }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-user-add"></i>
                                                            <span class="m-nav__link-text">Nuevo subordinado</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a id="ver_organigrama" data-href="{{ path('usuario_organigrama',{'id':user_id}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-users"></i>
                                                            <span class="m-nav__link-text">Ver organigrama</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            {%include 'usuario/_table.html.twig'%}
            <!--end: Datatable -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/entity/usuario.js','siplan') }}"></script>
    <script>
        var total ={{usuarios |length }}
            usuario.init();
    </script>
{% endblock %}
