<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ 'worker_details'|trans }}</h4>
        </div>
        <div>
            <table class="table table-striped" style="margin-bottom: 0px">
                <tr>
                    <th>{{ 'name_field'|trans }}</th>
                    <td colspan="3">{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <th>{{ 'username_field'|trans }}</th>
                    <td>{{ usuario.usuario }}</td>
                    <th>{{ 'email_field'|trans }}</th>
                    <td>{{ usuario.correo }}</td>
                </tr>
                <tr>
                    <th>{{ 'area'|trans }}</th>
                    <td colspan="3">{{ usuario.area }}</td>
                </tr>
                <tr>
                    <th>{{ 'cargo'|trans }}</th>
                    <td>{{ usuario.cargo }}</td>
                    <th>{{ 'active_field'|trans }}</th>
                    <td>{{ usuario.activo ? 'Si' : 'No' }}</td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">
            {% if app.user.id==usuario.id %}
                <a class="btn btn-outline blue editar_usuario mt-ladda-btn ladda-button" data-style="expand-right"  data-href="{{ path('usuario_edit',{'id':usuario.id}) }}"><i class="fa fa-edit"></i> {{ 'edit'|trans }}</a>
            {% endif %}
            <a class="btn btn-default " href="{{ path('plantrabajo_index',{'id':usuario.id}) }}"><i class="icon-layers"></i> {{ 'workplans'|trans }}</a>
            <a class="btn blue" data-dismiss="modal">{{ 'close'|trans }}</a>
        </div>
    </div>
</div>