<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <style>
        .odd{
            background-color: #f4f5f8;
        }
    </style>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h4 class="text-center m--margin-bottom-30">Plan Mensual {{ plan.getMesToString() }}, {{ plan.anno }}</h4>
<table class="table">
    <tr class="odd">
        <th>Actividad</th>
        <th>Día/ hora/ lugar</th>
        <th>Dirigen</th>
        <th>Participan</th>
    </tr>
    {% for actividad in actividades %}
        <tr class="odd">
            <td colspan="4" class="align-center encabezado text-center">{{ actividad['fecha'] | date('D, d')}}</td>
        </tr>
        {% for act in actividad['actividad'] %}
            <tr>
                <td>{{ act['nombre'] }}</td>
                <td>{{ act['fecha'] | date('d-m-Y H:i')}}
                    {% if  act['fecha']|date('d-m-Y')!= act['fechaF']|date('d-m-Y')%}
                        al {{ act['fechaF']|date('d-m-Y') }}
                    {% endif %}
                    {{ act['lugar'] }}
                </td>
                <td>{{ act['dirigen'] }}</td>
                <td>{{ act['participan'] }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr class="odd">
        <th>Actividad</th>
        <th>Día/ hora/ lugar</th>
        <th>Dirigen</th>
        <th>Participan</th>
    </tr>
</table>
</body>
</html>
