<table class="table table-hover m-table m-table--head-separator-brand" id="plantrabajo_table">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Mes
        </th>
        <th>
            Año
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for plan in plantrabajos %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ plan.getMesToString() }}</td>
            <td>{{ plan.anno }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn  btn-sm" href="{{ path('plantrabajo_show', { 'id': plan.id }) }}" >
                            <i class="flaticon-eye"></i></a>
                    </li>
                    {% if app.user.id==user_id or (null!=jefe and app.user.id==jefe.id)%}
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm edicion" data-href="{{ path('plantrabajo_edit', { 'id': plan.id }) }}">
                            <i class="flaticon-edit-1"></i></a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-danger btn-sm  eliminar_plantrabajo" data-href="{{ path('plantrabajo_delete', { 'id': plan.id }) }}">
                            <i class="flaticon-delete-1"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>
            #
        </th>
        <th>
            Mes
        </th>
        <th>
            Año
        </th>
        <th>
        </th>
    </tr>
    </tfoot>
</table>
