{% extends 'layout/userprofile.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block content %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Plan de trabajo {{ plantrabajo.mestoString()~', '~plantrabajo.anno }}
                        <small id="filtro"></small>
                    </h3>

                </div>
            </div>

            <div class="m-portlet__head-tools">
                <ul class="m-footer__nav m-nav m-nav--inline m--margin-top-10">
                    <li class="m-nav__item">
                        <div>
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                 m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-plus m--hide"></i>
                                    <i class="la la-filter"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">Filtros de estado</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id,'filtro':1}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                            <span class="m-nav__link-text">Registradas</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id,'filtro':2}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-time"></i>
                                                            <span class="m-nav__link-text">En proceso</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id,'filtro':3}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-reply"></i>
                                                            <span class="m-nav__link-text">Culminadas</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id,'filtro':4}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-list-3"></i>
                                                            <span class="m-nav__link-text">Cumplidas</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id,'filtro':4}) }}" class="m-nav__link refrescar">
                                                            <i class="m-nav__link-icon flaticon-cancel"></i>
                                                            <span class="m-nav__link-text">Incumplidas</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="m-nav__item">
                        <div>
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                 m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-primary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-plus m--hide"></i>
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">Acciones rápidas</span>
                                                    </li>
                                                    {% if app.user.id==plantrabajo.usuario.id  or (plantrabajo.usuario.jefe!=null and plantrabajo.usuario.jefe.id==app.user.id) %}
                                                        <li class="m-nav__item">
                                                            <a data-href="{{ path('actividad_new',{'id':plantrabajo.id}) }}"
                                                               class="m-nav__link edicion_actividad">
                                                                <i class="m-nav__link-icon flaticon-plus"></i>
                                                                <span class="m-nav__link-text">
																	Nueva actividad
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a id="cargar_antiguos_link" class="m-nav__link" data-href="{{ path('plantrabajo_antiguos',{'id':plantrabajo.id}) }}">
                                                                <i class="m-nav__link-icon flaticon-add"></i>
                                                                <span class="m-nav__link-text">
																	Clonar mis actividades anteriores
																</span>
                                                            </a>
                                                        </li>
                                                        {% if esmiembroCD==true %}
                                                            <li class="m-nav__item">
                                                                <a id="cargar_actividadesgeneral_link" class="m-nav__link" data-href="{{ path('actividadgeneral_plangeneral') }}">
                                                                    <i class="m-nav__link-icon flaticon-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Clonar actividades general
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        {% endif %}

                                                        <li class="m-nav__item">
                                                            <a id="plantrabajo_estadistica" data-href="{{ path('plantrabajo_estadistica',{'id':plantrabajo.id}) }}" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-statistics"></i>
                                                                <span class="m-nav__link-text">
                                                                Estadísticas
																</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('plantrabajo_show',{'id':plantrabajo.id}) }}"
                                                           class="m-nav__link" id="actividad_tablerefrescar">
                                                            <i class="m-nav__link-icon flaticon-refresh"></i>
                                                            <span class="m-nav__link-text">
																	Refrescar
																</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('plantrabajo_exportar',{'id':plantrabajo.id}) }}" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-file"></i>
                                                            <span class="m-nav__link-text">
																	Exportar
																</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>



            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            {% include 'actividad/_table.html.twig' %}
            <!--end: Datatable -->

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/entity/actividad.js','siplan') }}"></script>
    <script>
        var total ={{ actividads |length }};
        var plantrabajo = '{{ plantrabajo.id }}';
        actividad.init();
    </script>

{% endblock %}
