{{ form_start(form,{'attr':{
    'id': form_id|default('arc_new'),
    'class': 'm-form m-form--state'
}}) }}
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.nombre) }}
                </label>
                <div>
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.capitulo) }}
                </label>
                <div>
                    {{ form_widget(form.capitulo) }}
                    {{ form_errors(form.capitulo) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.subcapitulo) }}
                </label>
                <div>
                    {{ form_widget(form.subcapitulo) }}
                    {{ form_errors(form.subcapitulo) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.objetivos) }}
                </label>
                <div>
                    {{ form_widget(form.objetivos) }}
                    {{ form_errors(form.objetivos) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i>Cancelar</a>
    <button class="btn btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i>
        <span class="ladda-label">{{ action |default('Guardar') }}</span>
        <span class="ladda-spinner"></span>
    </button>
    {% if eliminable is defined and eliminable==true %}
        <a class="btn btn-danger btn-sm  eliminar_arc" data-href="{{ path('arc_delete', { 'id': arc.id }) }}" data-csrf="{{ csrf_token('delete' ~ arc.id) }}">
            <i class="flaticon-delete-1"></i> Eliminar</a>
    {% endif %}
</div>
{{ form_end(form) }}

