<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del grupo
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ grupo.nombre }}</td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    <td>{{ grupo.creador }}</td>
                </tr>
                <tr>
                    <th colspan="2">Miembros</th>
                </tr>
                {%  for miembro in miembros %}
                <tr>
                    <td>
                        {{ miembro.usuario }}
                    </td>
                    <td>
                        <span class="m-badge m-badge--{{ miembro.estado==0 ? 'danger' : 'success'  }}">{{ miembro.estado==0 ? 'Pendiente a confirmación' : 'Confirmado'  }}</span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="modal-footer">
                {% if pendiente_confirmacion is defined %}
                <a class="btn btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" id="confirmar_grupo" data-csrf="{{ csrf_token('confirmar' ~ grupo.id) }}" data-href="{{ path('grupo_confirmarsolicitud',{'grupo':grupo.id}) }}"><span class="ladda-label">Confirmar</span>
                    <span class="ladda-spinner"></span></a>
                <a class="btn btn-sm btn-danger mt-ladda-btn ladda-button ladda-buttonrechazar" data-style="expand-right" id="rechazar_grupo" data-csrf="{{ csrf_token('rechazar' ~ grupo.id) }}" data-href="{{ path('grupo_rechazarsolicitud',{'grupo':grupo.id}) }}"><span class="ladda-label">Rechazar</span>
                    <span class="ladda-spinner"></span></a>
                {% elseif confirmacion_aceptada is defined %}
                    <a class="btn btn-sm btn-danger mt-ladda-btn ladda-button ladda-buttonrechazar" data-style="expand-right" id="rechazar_grupo" data-csrf="{{ csrf_token('rechazar' ~ grupo.id) }}" data-href="{{ path('grupo_rechazarsolicitud',{'grupo':grupo.id}) }}"><span class="ladda-label">Cancelar subscripción</span>
                        <span class="ladda-spinner"></span></a>
                {% endif %}
                <a class="btn btn-sm btn-metal" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>

</div>
