{{form_start(form,{'attr':{
                            'id': form_id|default('cargo_new'),
    'class': 'm-form m-form--state'
}})}}
<div class="modal-body" id="modal-body">
<div class="row">
    <div class="col-md-6">
        <div class="form-group m-form__group">
            <label>
                {{ form_label(form.nombre) }}
            </label>
            <div>
                {{ form_widget(form.nombre) }}
                {{ form_errors(form.nombre) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group m-form__group">
            <label>
                {{ form_label(form.area) }}
            </label>
            <div>
                {{ form_widget(form.area) }}
                {{ form_errors(form.area) }}
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal">Cancelar</a>
    <button class="btn btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <span class="ladda-label">{{ action |default('Guardar')}}</span>
        <span class="ladda-spinner"></span>
    </button>
    {% if eliminable is defined and eliminable==true %}
        <a class="btn btn-danger btn-sm  eliminar_cargo" data-href="{{ path('cargo_delete', { 'id': cargo.id }) }}" data-csrf="{{ csrf_token('delete' ~ cargo.id) }}">
            <i class="flaticon-delete-1"></i> Eliminar</a>
    {% endif %}
</div>
{{form_end(form)}}