{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    {{parent()}}
    <div  class="block-information">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{ 'cargos'|trans }} </span>
                </div>
                <div class="actions">
                    <a class="btn blue btn-circle edicion tooltips" data-placement="bottom" data-original-title="{{ 'cargo_registertooltip'|trans }}" data-href="{{path('cargo_new')}}"><i class="fa fa-plus-circle"></i> {{ 'register'|trans }}</a>
                    <a id="refrescar" class="btn btn-default btn-circle tooltips btn-xlarge" data-placement="bottom" data-original-title="{{ 'refresh'|trans }}" href="{{path('cargo_index')}}"><i class="fa fa-refresh"></i>   </a>
                </div>
            </div>
            <div class="portlet-body" style="display: block;">
                <div class="table-responsive">
                    {%include 'cargo/_table.html.twig'%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% include 'cargo/script.js.twig' %}
    <script>
        var total ={{cargos |length }}
            cargo.init();
    </script>
{% endblock %}
