{{ form_start(form,{'attr':{
    'id': form_id|default('actividad_new'),
    'class': 'm-form m-form--state'
}}) }}
<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_base_demo_1_1_tab_content" role="tab" aria-selected="true">
            <i class="la la-calendar-plus-o"></i> General
        </a>
    </li>
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_base_demo_1_2_tab_content" role="tab" aria-selected="false">
            <i class="la la-info-circle"></i> Detalles
        </a>
    </li>
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_base_demo_1_3_tab_content" role="tab" aria-selected="false">
            <i class="la la-glass"></i>Aseguramiento
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active show" id="m_portlet_base_demo_1_1_tab_content" role="tabpanel">
        <div class="row m--margin-bottom-20">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.nombre) }}
                    </label>
                    <div>
                        {{ form_widget(form.nombre) }}
                        {{ form_errors(form.nombre) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m--margin-bottom-20">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.lugar) }}
                    </label>
                    <div>
                        {{ form_widget(form.lugar) }}
                        {{ form_errors(form.lugar) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.fecha) }}
                    </label>
                    <div>
                        {{ form_widget(form.fecha) }}
                        {{ form_errors(form.fecha) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.fechaf) }}
                    </label>
                    <div>
                        {{ form_widget(form.fechaf) }}
                        {{ form_errors(form.fechaf) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m--margin-bottom-20">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.capitulo) }}
                    </label>
                    <div>
                        {{ form_widget(form.capitulo) }}
                        {{ form_errors(form.capitulo) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.subcapitulo) }}
                    </label>
                    <div>
                        {{ form_widget(form.subcapitulo) }}
                        {{ form_errors(form.subcapitulo) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m--margin-top-10">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.areaconocimiento) }}
                    </label>
                    <div>
                        {{ form_widget(form.areaconocimiento) }}
                        {{ form_errors(form.areaconocimiento) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m--margin-top-10 m--margin-bottom-20">
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.dirigen) }}
                    </label>
                    <div>
                        {{ form_widget(form.dirigen) }}
                        {{ form_errors(form.dirigen) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.participan) }}
                    </label>
                    <div>
                        {{ form_widget(form.participan) }}
                        {{ form_errors(form.participan) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_errors(form) }}
    </div>
    <div class="tab-pane" id="m_portlet_base_demo_1_2_tab_content" role="tabpanel">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.descripcion) }}
                </label>
                <div>
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="m_portlet_base_demo_1_3_tab_content" role="tabpanel">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.aseguramiento) }}
                </label>
                <div>
                    {{ form_widget(form.aseguramiento) }}
                    {{ form_errors(form.aseguramiento) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix m--margin-top-20"></div>
<a class="btn btn-sm btn-metal" href="{{ path('planmensualgeneral_show',{'id': plantrabajo}) }}"><i class="flaticon-cancel"></i>Cancelar</a>
<button class="btn  btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
    <i class="flaticon-edit-1 ladda-label"></i>
    <span class="ladda-label">{{ action |default('Guardar') }}</span>
    <span class="ladda-spinner"></span>
</button>
{{ form_rest(form) }}
{{ form_end(form) }}