<div class="portlet mt-element-ribbon light portlet-fit bordered margin-top-40">
    <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-primary uppercase">
        <div class="ribbon-sub ribbon-bookmark"></div>
        <i class="fa fa-star"></i>
    </div>
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green bold uppercase">{{ 'download'|trans({},'estatica') }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <p class="text-justify">{{ '_download.parragraph'|trans({},'estatica') }} </p>
        <ul>
            <li>{{ '_download.downloadlist_choice1'|trans({},'estatica') }}</li>
            <li class="margin-top-20">{{ '_download.downloadlist_choice2'|trans({},'estatica') }}</li>
        </ul>
        <ul class="list-inline text-center bold uppercase margin-top-30">
            <li><i class="fa fa-download"></i>{{ '_download.sidelist_choice1'|trans({},'estatica') }}</li>
            <li><i class="fa fa-sitemap"></i>{{ '_download.sidelist_choice2'|trans({},'estatica') }}</li>
            <li><i class="fa fa-wrench"></i>{{ '_download.sidelist_choice3'|trans({},'estatica') }}</li>
            <li><i class="fa fa-refresh"></i>{{ '_download.sidelist_choice4'|trans({},'estatica') }}</li>
        </ul>


        <a href="http://github.com"class="btn btn-circle blue bold uppercase text-center margin-top-10" style="margin-left: 45%">{{ 'download'|trans({},'estatica') }} !!</a>
    </div>
</div>