{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block body %}
    <div class="block-information" style="padding: 3% 13%;">
    <h3>{{ 'aboutus'|trans({},'estatica') }}</h3>
        <h4>{{ 'aboutus.question1'|trans({},'estatica') }}</h4>
        <p class="text-justify">{{ 'aboutus.response1'|trans({},'estatica') }}
        </p>
        <h4>{{ 'aboutus.question2'|trans({},'estatica') }}</h4>
        <p>{{ 'aboutus.response2'|trans({},'estatica') }}
        </p>
        <hr/>
        {% include 'default/static/_download.html.twig' %}
    </div>
{% endblock %}
