{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block body %}
    <div class="block-information">
        <h3>{{ 'account_management'| trans({},'estatica') }}</h3>
        <div class="row">
            <h4>{{ 'accountmanagement.section1_header'| trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'accountmanagement.section1_explain'| trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                    <p>{{ 'accountmanagement.section1_details'| trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <h4>{{ 'accountmanagement.section2_header'| trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'accountmanagement.section2_explain'| trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                    <p>{{ 'accountmanagement.section2_details'| trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <h4>{{ 'accountmanagement.section2_header'| trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'accountmanagement.section3_explainp1'| trans({},'estatica') }}</p>
                <p>{{ 'accountmanagement.section3_explainp2'| trans({},'estatica') }}</p>
                <p>{{ 'accountmanagement.section3_explainp3'| trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                    <p>{{ 'accountmanagement.section3_details'| trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}
