{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block body %}
<div class="block-information">
    <section class="enum">
        <h2>{{ 'privacy'|trans({},'estatica') }}</h2>
        <h3>{{ 'privacy.epigraph'|trans({},'estatica') }}</h3>
        <div class="row">
            <h4>{{ 'privacy.section1_header'|trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'privacy.section1_parragraph'|trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                    <p>{{ 'privacy.section1_details'|trans({},'estatica') }}</p>
                </blockquote>

            </div>
        </div>
        <div class="row">
            <h4>{{ 'privacy.section2_header'|trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'privacy.section2_parragraph'|trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                <p>{{ 'privacy.section2_details'|trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <h4>{{ 'privacy.section3_header'|trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'privacy.section3_parragraph'|trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                <p>{{ 'privacy.section3_details'|trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div><div class="row">
            <h4>{{ 'privacy.section4_header'|trans({},'estatica') }}</h4>
            <div class="col-md-6">
                <p>{{ 'privacy.section4_parragraph'|trans({},'estatica') }}</p>
            </div>
            <div class="col-md-6">
                <blockquote class="pull-right">
                <p>{{ 'privacy.section4_details'|trans({},'estatica') }}</p>
                </blockquote>
            </div>
        </div>
    </section>
</div>
{% endblock %}
