<div class="prefooter m--padding-20 bg-dark">
    <div class="row text-white">
        <div class="col-md-3">
            <ul>
                <li class="m--margin-bottom-20">
                    <h6>Redes sociales</h6>
                    <ul class="list-inline m--margin-top-10">
                        <li class="list-inline-item"><a href="http://www.facebook.com"><i class="socicon-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="http://www.twitter.com"><i class="socicon-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="http://www.linkedin.com"><i class="socicon-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="http://www.google.com"><i class="socicon-google"></i></a></li>
                        <li class="list-inline-item"><a href="http://www.youtube.com"><i class="socicon-youtube"></i></a></li>
                    </ul>

                </li>

            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h6>Universidad</h6></li>
                <li><a href="http://www.unah.edu.cu">Portal en internet</a></li>
                <li><a href="http://correo.unah.edu.cu">Correo Zimbra</a></li>
                <li><a href="http://intranet.unah.edu.cu">Intranet</a></li>
                <li><a href="ftp://ftp.unah.edu.cu">FTP</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h6>Legal</h6></li>
                <li><a href="{{ path('estatica',{'page':'terminoservicio'}) }}" >Términos del servicio</a></li>
                <li><a href="{{ path('estatica',{'page':'privacidad'}) }}">Política de privacidad</a></li>
                <li><a href="{{ path('estatica',{'page':'copyright'}) }}">Política de copyright</a></li>
                <li><a href="{{ path('estatica',{'page':'cookiespolicy'}) }}">Política de cookies</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h6>Principios de SIPLAN</h6></li>
                <li><a href="{{ path('estatica',{'page':'personalizable'}) }}">Personalizable</a></li>
                <li><a href="{{ path('estatica',{'page':'accesibilidad'}) }}">Accesible</a></li>
                <li><a href="{{ path('estatica',{'page':'escalabilidad'}) }}">Escalable</a></li>
                <li><a href="{{ path('estatica',{'page':'seguro'}) }}">Seguro</a></li>
            </ul>
        </div>
    </div>
</div>
<footer class="m-grid__item  m-footer">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
                                <b>Copyright &copy; 2019 SIPLAN.</b> Todos los derechos reservados
							</span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a href="{{ path('estatica',{'page':'nosotros'}) }}" class="m-nav__link">
										<span class="m-nav__link-text">
											Acerca de nosotros
										</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ path('estatica',{'page':'servicio'}) }}" class="m-nav__link">
										<span class="m-nav__link-text">
											Servicios
										</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>