<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Estadísticas del plan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div>
            <div class="modal-body" style="padding: 0px">
                <div class="m-portlet  m-portlet--full-height" style="margin-bottom: 0px">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Información general
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget16">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="m-widget16__head">
                                        <div class="m-widget16__item">
															<span class="m-widget16__sceduled">
																Estado
															</span>
                                            <span class="m-widget16__amount m--align-right">
																Cantidad
															</span>
                                        </div>
                                    </div>

                                    <div class="m-widget16__body">
                                        <div class="m-widget16__item">
															<span class="m-widget16__date">
																Registradas
															</span>
                                            <span class="m-widget16__price m--align-right m--font-metal">
                                                            {{ estadisticas['Registrada'] }}
															</span>
                                        </div>


                                        <div class="m-widget16__item">
															<span class="m-widget16__date">
																En proceso
															</span>
                                            <span class="m-widget16__price m--align-right m--font-accent">
																{{ estadisticas['En_proceso'] }}
															</span>
                                        </div>

                                        <div class="m-widget16__item">
															<span class="m-widget16__date">
																Culminada
															</span>
                                            <span class="m-widget16__price m--align-right m--font-brand">
																{{ estadisticas['Culminada'] }}
															</span>
                                        </div>
                                        <div class="m-widget16__item">
															<span class="m-widget16__date">
																Cumplidas
															</span>
                                            <span class="m-widget16__price m--align-right m--font-success">
																{{ estadisticas['Cumplida'] }}
															</span>
                                        </div>
                                        <div class="m-widget16__item">
															<span class="m-widget16__date">
																Incumplidas
															</span>
                                            <span class="m-widget16__price m--align-right m--font-danger">
																{{ estadisticas["Incumplida"] }}
															</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div style="height: 100%" class="plantrabajo_grafica"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>
<script>

</script>
