{{ form_start(form,{'attr':{
    'id': form_id|default('actividad_new')
}}) }}
{% set i=0 %}
<div class="m-portlet__head">
    <div class="m-portlet__head-tools">
        <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tabs_6_1" role="tab"
                   aria-selected="true">
                    <i class="la la-calendar-plus-o"></i>
                    GENERAL
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab" aria-selected="false">
                    <i class="la la-info-circle"></i>
                    DETALLES
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab" aria-selected="false">
                    <i class="la la-files-o"></i>
                    ARCHIVOS
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="m-portlet__body">
    <div class="tab-content">
        <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">

            <div class="modal-body" id="modal-body">
                <div class="row m--margin-bottom-20">
                    <div class="col-md-6">{{ form_row(form.nombre) }}</div>
                    <div class="col-md-6">{{ form_row(form.areaconocimiento) }}</div>
                </div>
                <div class="row m--margin-bottom-20">
                    <div class="col-md-3">{{ form_row(form.fecha) }}</div>
                    <div class="col-md-3">{{ form_row(form.fechaf) }}</div>
                    {% if form.estado is defined %}
                    <div class="col-md-3">{{ form_row(form.estado) }}</div>
                    {% endif %}

                </div>
                <div class="row m--margin-top-10">
                    <div class="col-md-6">
                        <ul class="list-inline">
                            <li>
                                <label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
                                    {{ form_widget(form.esexterna) }}
                                    {{ form_label(form.esexterna) }}
                                    {{ form_errors(form.esexterna) }}
                                    <span></span>
                                </label>
                            </li>
                            <li>
                                <label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
                                    {{ form_widget(form.esobjetivo) }}
                                    {{ form_label(form.esobjetivo) }}
                                    {{ form_errors(form.esobjetivo) }}
                                    <span></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            {{ form_errors(form) }}
        </div>

        <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
            <div class="row">
                <div class="col-md-12">{{ form_row(form.descripcion) }}</div>
            </div>
        </div>

        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
            <a class="btn btn-sm" id="adicionar_archivo">Añadir archivo</a>
            <div id="archivos">
                <table class="table" id="ficheros_table">
                    <thead>
                    <tr>
                        <th>Archivo</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for obj in actividad.ficheros %}
                        <tr>
                            <td>
                                {{ obj.nombre }}
                            </td>
                            <td>
                                {% if obj.id==null %}
                                    <a class="btn btn-sm btn-danger eliminar_fichero" ><i class="flaticon-delete-1"></i></a>
                                {% else %}
                                    <a class="btn btn-sm btn-danger eliminar_fichero" data-csrf="{{ csrf_token('delete' ~ obj.id) }}" data-href="{{ path('fichero_delete',{'id':obj.id}) }}"><i class="flaticon-delete-1"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% else %}
                        {# form_widget(form.ficheros) #}
                    {% endfor %}

                    {{ form_label(form.ficheros) }}
                    {{ form_errors(form.ficheros) }}

                    {% for obj in form.ficheros %}
                        {{ form_widget(obj) }}
                        {{ form_errors(obj) }}
                        {{ dump(obj) }}
                        {% else %}
                            {{ form_widget(form.ficheros) }}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal">Cancelar</a>
    <button class="btn  btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <span class="ladda-label">{{ action |default('Guardar') }}</span>
        <span class="ladda-spinner"></span>
    </button>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
<script>
    var cantidadarchivos='{{ i }}';
</script>