<table class="table table-striped table-hover dataTable" id="actividad_table">
    <thead>
    <tr>
        <th style="min-width: 37%">Nombre</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th style="width: 25%"></th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for actividad in actividads %}
        <tr>
            <td>{{ actividad.nombre }}</td>
            <td>{{ actividad.fecha | date('d-m-Y H:i') }}</td>
            <td>{{ actividad.fechaF | date('d-m-Y H:i') }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-sm  actividad_show" data-href="{{ path('actividad_show',{'id':actividad.id}) }}">
                            <i class="flaticon-eye"></i>Visualizar
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm" href="{{ path('actividad_edit', { 'id': actividad.id }) }}"><i class="flaticon-edit-1"></i>Editar</a>
                    </li>
                    {% if actividad.responsable.id==app.user.id or  actividad.asignadapor.id==app.user.id %}
                    <li class="m-nav__item">
                        <a class="btn btn-danger btn-sm  eliminar_actividad" data-csrf="{{ csrf_token('delete' ~ actividad.id) }}" data-href="{{ path('actividad_delete', { 'id': actividad.id }) }}"><i class="flaticon-delete-1"></i>Eliminar</a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Nombre</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th></th>
    </tr>
    </tfoot>
</table>
