<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ actividad.nombre }}</h4>
        </div>
        <div>
            <table class="table table-striped" style="margin-bottom: 0px">
                <tr>
                    <th>Nombre</th>
                    <td colspan="3">{{ actividad.nombre }}</td>
                </tr>
                <tr>
                    <th>Asignada por</th>
                    <td>{{ actividad.asignadapor }}</td>
                    <th>Estado</th>
                    <td>{{ actividad.getEstadoString() }}</td>
                </tr>
                <tr>
                    <th>Fecha de Inicio</th>
                    <td>{{ actividad.fechaf |date('d-m-Y H:i') }}</td>
                    <th>Fecha de Fin</th>
                    <td>{{ actividad.fechaf |date('d-m-Y H:i') }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td  colspan="3"><p>{{ actividad.descripcion }}</p></td>
                </tr>
                <tr>
                    <th>Es una actividad objetivo</th>
                    <td>{{ actividad.esobjetivo ? 'Si' : 'No' }}</td>
                    <th>Externa</th>
                    <td colspan="3">{{ actividad.esexterna ? 'Si' : 'No' }}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn blue" data-dismiss="modal">Cerrar</a>
        </div>
    </div>
</div>