{{ form_start(form,{'attr':{
    'id': form_id|default('planmensualgeneral_new'),
    'class': 'm-form m-form--state'
}}) }}
<div class="modal-body" id="modal-body">
    <div class="row m--margin-bottom-40">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.mes) }}
                </label>
                <div>
                    {{ form_widget(form.mes) }}
                    {{ form_errors(form.mes) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.anno) }}
                </label>
                <div>
                    {{ form_widget(form.anno) }}
                    {{ form_errors(form.anno) }}
                </div>
            </div>
        </div>
    </div>
    <b>Periodo de edición</b>
    <hr/>
    <div class="row m--margin-top-20">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.edicionfechainicio) }}
                </label>
                <div>
                    {{ form_widget(form.edicionfechainicio) }}
                    {{ form_errors(form.edicionfechainicio) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.edicionfechafin) }}
                </label>
                <div>
                    {{ form_widget(form.edicionfechafin) }}
                    {{ form_errors(form.edicionfechafin) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i>Cancelar</a>
    <button class="btn btn-sm  btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i>
        <span class="ladda-label">{{ action |default('Guardar') }}</span>
        <span class="ladda-spinner"></span>
    </button>
</div>
{{ form_end(form) }}