{% extends 'layout/userprofile.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block content %}
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Plan Mensual Institucional
                        <small>{{ planmensualgeneral.mestoString()~', '~planmensualgeneral.anno }}</small>
                    </h3>
                </div>
            </div>

            <div class="m-portlet__head-tools">
                <ul class="m-footer__nav m-nav m-nav--inline m--margin-top-10">
                    <li class="m-nav__item">
                        <div>
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                 m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-secondary m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-plus m--hide"></i>
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">Acciones r치pidas</span>
                                                    </li>

                                                    {% if planmensualgeneral.aprobado==false and (is_granted('ROLE_COORDINADORINSTITUCIONAL')==true or (app.session.get('esmiembroconsejodireccion')==true and enTiempo==true)) %}
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('actividadgeneral_new',{'id':planmensualgeneral.id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-plus"></i>
                                                                <span class="m-nav__link-text">
																	Nueva actividad
																</span>
                                                            </a>
                                                        </li>

                                                        {% if is_granted('ROLE_COORDINADORINSTITUCIONAL')==true %}
                                                            <li class="m-nav__item">
                                                                <a data-href="{{ path('puntualizacion_plan_trabajo_general_new',{'id':planmensualgeneral.id}) }}"
                                                                   class="m-nav__link editarpuntualizacion">
                                                                    <i class="m-nav__link-icon flaticon-plus"></i>
                                                                    <span class="m-nav__link-text">
																	Nueva puntualizaci칩n
																</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a data-href="{{ path('objetivo_plan_trabajo_general_new',{'id':planmensualgeneral.id}) }}"
                                                                   class="m-nav__link editarobjetivo">
                                                                    <i class="m-nav__link-icon flaticon-plus"></i>
                                                                    <span class="m-nav__link-text">
																	Nueva Actividad Principal
																</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('planmensualgeneral_exportar',{'id':planmensualgeneral.id}) }}"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-file"></i>
                                                            <span class="m-nav__link-text">
																	Exportar
																</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('planmensualgeneral_graficocoordinacion',{'id':planmensualgeneral.id}) }}"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-file"></i>
                                                            <span class="m-nav__link-text">
																	Gr치fico de coordinaci칩n
																</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="m-portlet__body">
            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tabs_6_1" role="tab"
                       aria-selected="true">Actividades</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab"
                       aria-selected="false">Puntualizaciones</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab"
                       aria-selected="false">Actividad Principal</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">
                    <h4 class="text-muted">
                        <small id="filtro"></small>
                    </h4>
                    {% include 'actividadgeneral/_table.html.twig' %}
                </div>
                <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                    {% include 'puntualizacion_plan_trabajo_general/_table.html.twig' %}
                </div>
                <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                    {% include 'objetivo_plan_trabajo_general/_table.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/entity/actividadgeneral.js','siplan') }}"></script>
    <script src="{{ asset('script/entity/puntualizacionplantrabajogeneral.js','siplan') }}"></script>
    <script src="{{ asset('script/entity/objetivoplantrabajogeneral.js','siplan') }}"></script>
    <script>
        var total ={{ actividads |length }};
        var planmensualgeneral = '{{ planmensualgeneral.id }}';
        actividadgeneral.init();
        puntualizacionplantrabajogeneral.init();
        objetivoplantrabajogeneral.init();
    </script>

{% endblock %}
