{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block title %}Portada{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        ul.details{
            margin: 8% 18%;
            text-transform: uppercase;

        }
        ul.details a.actived{
            font-weight: bold !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="block-information">
        <div class="row">
            <div class="col-md-5">
                {% block error_picture %}
                    <img src="{{ asset('img/http_error/error.png','apps')}}" style="width: 53%"/>
                {% endblock error_picture %}
            </div>
            <div class="col-md-6">

                <h3>{% block error_title %}Error {{ status_code }}{% endblock error_title %}</h3>
                <p>{% block error_details %}{{ status_text}}{% endblock error_details %}</p>
                <ul class="list-inline details">
                    <li><a class="btn blue actived">{{ 'contact_link'|trans({},'error') }}</a></li>
                    <li><a class="btn btn-default" href="{{ path('index') }}">{{ 'refresh_link'|trans({},'error') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
