{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig' %}
 {% block stylesheets %}
     <style>
         ul.error li {
             display: inline;
         }
         li a.active {
             margin-left: 2%;
         }
         div.m-body {
             background-color: white;
         }
     </style>
 {% endblock stylesheets %}
{% block body %}
    <div class="block-information margin-top-10">
        <div class="row margin-bottom-10">
            <div class="col-md-5">
                {% block error_picture %}
                    <img src="{{ asset('img/http_error/error.png','siplan') }}" class="pull-right" style="width: 80%"/>
                {% endblock error_picture %}
            </div>
            <div class="col-md-5">
                <h3>{% block error_title %}Error {{ status_code }}{% endblock error_title %}</h3>
                <p>{% block error_details %}{{ status_text }}{% endblock error_details %}</p>
                <ul class="m-nav error">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a class="btn btn-sm " href="{{ path('logout') }}"><i class="la la-sign-out"></i>Cerrar sesión</a></li>
                    {% endif %}
                    <li><a class="btn btn-info btn-sm active" href="{{ path('index') }}"><i class="la la-refresh"></i>Refrescar</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
