{% extends "layout/base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/datatables/media/css/dataTables.bootstrap.min.css','global') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/css/select2.css','global') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/css/select2-bootstrap.min.css','global') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-switch/css/bootstrap-switch.min.css','global') }}"/>
{% endblock %}
{% block page_container %}
    {% include 'layout/flashes/modal.html.twig' %}
    <div class="page-content">
        {% block body %}{% endblock %}
    </div>
{% endblock page_container %}
{% block top_menu %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('arc_index') }}" class="tooltips" data-placement="bottom"
               data-original-title="{{ 'arcs'|trans }}"><i class="fa fa-graduation-cap"></i></a></li>
        <li><a href="{{ path('area_index') }}" class="tooltips" data-placement="bottom"
               data-original-title="{{ 'areas'|trans }}"><i class="fa fa-globe"></i></a></li>
        <li><a href="{{ path('cargo_index') }}"  class="tooltips" data-placement="bottom"
               data-original-title="{{ 'cargos'|trans }}"><i class="fa fa-th"></i></a></li>
    {% endif %}
    {% if is_granted('ROLE_DIRECTIVO') %}
        <li><a href="{{ path('usuario_index') }}" class="tooltips" data-placement="bottom"
               data-original-title="{{ 'workers'|trans }}"><i class="fa fa-users"></i></a></li>
    {% endif %}
    <li><a href="{{ path('plantrabajo_index',{'id':app.user.id}) }}" class="tooltips" data-placement="bottom"
           data-original-title="{{ 'workplans'|trans }}"><i class="fa fa-file-text-o"></i></a></li>
    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
           data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-default pending_task_counter"></span>
        </a>
        <ul class="dropdown-menu" id="pending_task">
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true"
           href="#">
            <i class="fa fa-user-circle"></i>{{ app.user.usuario }}<i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax_show" data-href="{{ path('usuario_show',{'id':app.user.id}) }}"><i
                            class="fa fa-user-circle-o"></i>Perfil</a></li>
            {% if null!=app.user.jefe %}
                <li><a href="{{ path('plantrabajo_index',{'id':app.user.jefe.id}) }}"><i class="fa fa-user-o"></i>Planes
                        del jefe</a></li>
            {% endif %}
            <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
        </ul>
    </li>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/jquery.dataTables.min.js','global') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/dataTables.bootstrap.min.js','global') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/select2/js/select2.js','global') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/select2/js/i18n/es.js','global') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js','global') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/interface/authenticated.js','apps') }}"></script>
    <script>
        authenticated.init();
    </script>
{% endblock %}
