{% extends 'layout/autenticado.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/userprofile.css','siplan') }}"/>
{% endblock %}
{% block body %}
    <div class="sombreada">
        <div class="m--margin-top-20 banner">
            <div class="banner-info">
                <div class="col-md-4">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                {% if user_foto!=null %}
                                    {% set rutaFoto=  asset('archivos/'~user_foto) %}
                                {% else %}
                                    {% set rutaFoto= asset('img/user4.jpg','siplan') %}
                                {% endif %}
                                <a href="{{ path('usuario_show',{'id':user_id}) }}"><img src="{{ rutaFoto }}" alt=""></a>
                            </div>
                        </div>
                        <div class="m-card-profile__details">
                            <span class="m-card-profile__name">{{ user_nombre }}</span>
                            <a href="" class="m-card-profile__email m-link">{{ user_correo }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile_menu">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ path('usuario_show',{'id':user_id}) }}"
                                                    class="nav-link m-link"><i class="flaticon-profile-1"></i>Perfil</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DIRECTIVO') %}
                        <li class="list-inline-item"><a href="{{ path('usuario_index',{'id':user_id}) }}"
                                                        class="nav-link m-link"><i class="flaticon-users"></i>Subordinados</a>
                        </li>
                    {% endif %}
                    <li class="list-inline-item"><a href="{{ path('grupo_index',{'id':user_id}) }}"
                                                    class="nav-link m-link"><i
                                    class="flaticon-network"></i>Grupos</a>
                    </li>
                    <li class="list-inline-item"><a href="{{ path('plantrabajo_index',{'id':user_id}) }}"
                                                    class="nav-link m-link"><i class="flaticon-profile"></i>Planes
                            de trabajo</a>
                    </li>
                    {% if is_granted('ROLE_COORDINADOR') or app.request.session.get('esmiembroconsejodireccion') %}
                        <li class="list-inline-item">
                            <a href="{{ path('planmensualgeneral_index') }}" class="nav-link m-link">
                                <i class="flaticon-confetti"></i>Planes de trabajo general
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') %}
                        <li class="list-inline-item">
                            <a href="{{ path('miembro_consejo_direccion_index') }}" class="nav-link m-link">
                                <i class="flaticon-map-location"></i>Consejo de dirección</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}
