{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block body %}
    <div class="block-information">
        <h3>{{ 'accesibility'| trans({},'estatica') }}</h3>
        <div class="row">
            <h4>{{ 'accesibility.header'|trans({},'estatica') }}</h4>
            <div class="col-md-7">
                <p class="text-justify">{{ 'accesibility.parragraph'|trans({},'estatica') }}</p>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <ul class="list-unstyled text-center uppercase bold">
                    <li>{{ 'accesibility.choice1'|trans({},'estatica') }}</li>
                    <li style="font-size: 200%">{{ 'accesibility.choice2'|trans({},'estatica') }}</li>
                    <li>{{ 'accesibility.choice3'|trans({},'estatica') }}</li>
                </ul>
            </div>
        </div>
        <hr/>
        {% include 'default/static/_download.html.twig' %}
    </div>
{% endblock %}
