{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block body %}
    <div class="block-information" style="padding: 3% 13%">
        <h2 class="page-title">{{ 'cookiespolicy' | trans({},'estatica')}}</h2>
        <p>{{ 'cookiespolicy.introduction'|trans({},'estatica') }}</p>
        <h3>{{ 'cookiespolicy.question1'|trans({},'estatica') }}</h3>
        <p>{{ 'cookiespolicy.response1'|trans({},'estatica') }}</p>
        <h3>{{ 'cookiespolicy.question2'|trans({},'estatica') }}</h3>
        <p>{{ 'cookiespolicy.response2'|trans({},'estatica') }}</p>
        <h3>{{ 'cookiespolicy.question3'|trans({},'estatica') }}</h3>
        <p>{{ 'cookiespolicy.response3'|trans({},'estatica') }}</p>
        <h3>{{ 'cookiespolicy.question4'|trans({},'estatica') }}</h3>
        <p>{{ 'cookiespolicy.response4'|trans({},'estatica') }}</p>
    </div>
{% endblock %}
